.users
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user
{
    flex: 100px 0 0;
    margin: 0.75em;
}

.user__avatar
{
    border-radius: 50%;
    max-width: 100%;
}